<a href="{{project.link}}" title="{{project.title}}" class="has-card {{selected ? 'selected' : ''}}">
<article class="card project " style="background-image: url({{project.thumbnail.src}})" >
    <div class="card-content">
        <h3 class="is-size-5 {{project.grid_dir == "horizontal" ? 'is-size-3-widescreen' : ''}}">{{project.title}}</h3>
        {% if selected == false %}
				<p class="link is-size-7 has-tiny-margin-top is-hidden-desktop">Read more</p>
        {% endif %}
    </div>

</article>
</a>