<article class="card project {{project.grid_dir}}" style="background-image: url({{project.thumbnail.src}})">
    <div class="card-content">
        <div class="tags">
        {% for tag in project.tags %}
            <div class="tag">{{tag.name}}</div>
        {% endfor %}
        </div>
        <h3 class="is-size-4">{{project.title}}</h3>
        <a href="{{project.link}}" title="{{project.title}}" class="link arrow has-tiny-padding-top">Read more</a>
    </div>

</article>